.contact-img{
    
    width: 100%;
    height: 24rem;
    border: 0;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.contact{
    background-color: #e6e5e5;
}

.second-img-apropos{
     
    width: 90%;
    height: 34rem;
    border: 0;
    border-radius: 1rem;
    margin-bottom: 3rem;
}
.fist-image-apropos{
     
    width: 80%;
    height: 35rem;
    border: 0;
    border-radius: 1rem;
    margin-bottom: 3rem;
}
  
  .php-email-form .form-control.form-control-a {
    height: 3.5rem;
  }
  
  .php-email-form .form-control:focus {
    box-shadow: none;
    border-color: #2eca6a;
  }
  